<section class="h-[calc(100vh-64px)] grid grid-cols-1 grid-rows-1">
    <app-sparkling-stars-particle-background
        class="col-start-1 row-start-1 -z-10"
        [id]="'home'"
        [animated]="true" />
    <div
        class="-z-40 max-lg:hidden ml-[25%] mr-auto my-auto col-start-1 row-start-1 -translate-x-1/2 transform rounded-full border-[150px] border-b-blue-400 border-l-violet-600 border-r-pink-500 border-t-purple-400 blur-[240px]"></div>
    <div
        class="col-start-1 row-start-1 -z-40 ml-auto mr-[10%] my-auto rounded-full border-[150px] border-b-cyan-400 border-l-rose-600 border-r-indigo-500 border-t-blue-400 blur-[140px]"></div>
    <div class="p-8 container mx-auto flex items-center justify-center col-start-1 row-start-1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="row-start-2 md:row-start-1 max-lg:mx-auto">
                <div class="mt-4 text-6xl font-bold text-nowrap">
                    <span>Hi, I'm</span>
                    <span class="text-[#f050f8]"> Lukas</span>
                </div>
                <div class="flex flex-col gap-y-2 mt-4 lg:text-lg select-none">
                    <div class="flex items-center gap-2">
                        <mat-icon>computer</mat-icon>
                        <span>Software Developer</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <mat-icon>badge</mat-icon>
                        <span>Currently working for KEYElements GmbH</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <mat-icon>home_pin</mat-icon>
                        <span>Originally from and living in Tönisvorst, Germany</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <mat-icon>sentiment_very_satisfied</mat-icon>
                        <span>Happily married</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <mat-icon>sprint</mat-icon>
                        <span>Hobbies include swimming and firefighting</span>
                    </div>
                </div>
            </div>
            <div class="col-start-1 md:col-start-2 flex justify-end items-center max-md:justify-center">
                <picture class="w-56 rounded-4xl overflow-hidden">
                    <img
                        src="profile.jpg"
                        alt="My Picture" />
                </picture>
            </div>
        </div>
    </div>
</section>

<section
    class="bg-[#19004a] pb-8"
    id="tech-stack">
    <div class="p-8 container mx-auto lg:max-w-screen-lg">
        <div class="text-3xl font-bold">Tech Stack<span class="text-[#f79ffc]">.</span></div>
        <ul class="mt-3 flex flex-wrap gap-3 justify-center">
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Angular</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>PostgresSQL</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>GitLab CI/CD</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Git</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>VS Code</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>TypeScript</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>JavaScript</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>NestJs</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>CSS</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>HTML</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Sass</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Node.js</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>TailwindCSS</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Docker</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Webpack</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>.NET Framework / Core C#</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>.NET Framework Visual Basic</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Java</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section
    class="py-8 bg-[#19004a] border-t-[1px] border-[#100031]"
    id="agile-and-project">
    <div class="p-8 container mx-auto lg:max-w-screen-lg">
        <div class="text-3xl font-bold">Agile & Project<span class="text-[#f79ffc]">.</span></div>
        <ul class="mt-3 flex flex-wrap gap-3 justify-center">
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Kanban</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>Scrum</span>
                    </div>
                </div>
            </li>
            <li class="inline">
                <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                    <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                        <span>SAFe 5 Agilist</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section
    class="pt-8 bg-[#19004a] border-t-[1px] border-[#100031]"
    id="education-and-career">
    <div class="p-8 container mx-auto lg:max-w-screen-lg">
        <div class="text-3xl font-bold">Education & Career<span class="text-[#f79ffc]">.</span></div>
        <div class="text-justify mt-3 lg:text-lg">
            After completing my vocational diploma with a focus on electrical engineering, I studied business
            informatics. <br />
            My professional career began with the functional support of software for designing target architectures.
            Later, I worked as a developer and consultant, focussing on the development of applications for managing key
            figures and reports for large enterprises. During this time, I gained extensive experience, particularly
            with technologies such as TypeScript, Angular and NestJS. Additionally, I am a certified safety officer.
            <br /><br />
            I have a strong interest in developing innovative und sustainable software solutions that strategically
            support businesses and create lasting value.
        </div>
    </div>
</section>
