:host {
    @reference "tailwindcss";

    @apply flex items-center gap-2;

    // Overriding default link styles for this component
    --app-link-color: var(--app-route-fragment-links-color);
    --app-link-hover-color: var(--app-route-fragment-links-hover-color);
    --app-link-active-color: var(--app-route-fragment-links-active-color);
}
