:host {
    @reference "tailwindcss";
    @apply block;
    @apply relative;

    animation-duration: 10s;
    animation-delay: 1s;
    animation-name: fadein;

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
