<header
    aria-label="navigation"
    app-header-container>
    <app-header-title
        class="ml-20"
        [title]="'120603001c4f010717' | xorCipher" />
    <div class="flex-grow"></div>
    <nav>
        <app-nav-fragments class="max-lg:!hidden mx-8" />
    </nav>
</header>
<main
    class="flex-grow"
    aria-label="main">
    <router-outlet></router-outlet>
</main>
<footer
    class="text-sm select-none"
    aria-label="footer"
    app-footer-container>
    <nav class="flex flex-row gap-6 w-full justify-center items-center mt-48">
        <a
            [routerLink]="['/legal-notice']"
            [routerLinkActive]="['active']"
            [attr.aria-label]="'Legal Notice'">
            Legal Notice
        </a>
        <a
            [routerLink]="['/privacy-policy']"
            [routerLinkActive]="['active']"
            [attr.aria-label]="'Privacy Policy'">
            Privacy Policy
        </a>
    </nav>
    <div class="p-4 text-center">© 2025. All Rights Reserved.<br /></div>
</footer>
