<header
    aria-label="navigation"
    app-header-container>
    <app-header-title [title]="'3f001b04010d331403161743050c1506' | xorCipher" />
    <div class="flex-grow"></div>
    <nav>
        <!-- <app-nav-fragments /> -->
    </nav>
</header>
<main
    class="flex-grow"
    aria-label="main">
    <router-outlet></router-outlet>
</main>
<footer
    class="text-sm select-none"
    aria-label="footer"
    app-footer-container>
    <nav class="flex flex-row gap-6 w-full justify-center items-center">
        <a [routerLink]="['/legal-notice']">Legal Notice</a>
        <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
    </nav>
    <div class="p-4 text-center text-white">© 2025. All Rights Reserved.<br /></div>
</footer>
