<header
    aria-label="navigation"
    app-header-container>
    <app-header-title
        class="ml-20"
        [title]="'120603001c4f010717' | xorCipher" />
    <div class="flex-grow"></div>
    <nav>
        <app-nav-fragments class="max-lg:!hidden mx-8" />
    </nav>
</header>
<main
    class="flex-grow"
    aria-label="main">
    <router-outlet></router-outlet>
</main>
<footer
    *transloco="let t; prefix: 'global'"
    aria-label="footer"
    app-footer-container>
    <nav class="flex justify-center gap-6 mt-24 lg:mt-36 text-sm select-none">
        <a
            [routerLink]="['/legal-notice']"
            [routerLinkActive]="['active']"
            [attr.aria-label]="t('footer.navigation.legal-notice')">
            {{ t("footer.navigation.legal-notice") }}
        </a>
        <a
            [routerLink]="['/privacy-policy']"
            [routerLinkActive]="['active']"
            [attr.aria-label]="t('footer.navigation.privacy-policy')">
            {{ t("footer.navigation.privacy-policy") }}
        </a>
    </nav>
    <div
        class="mt-6 lg:mt-8 flex justify-center gap-10"
        role="group"
        [attr.aria-label]="t('footer.social.label')">
        <app-mail-icon-link
            class="w-6 h-6"
            [href]="'mailto:' + (t('footer.social.mail.link') | xorCipher)"
            [label]="t('footer.social.mail.label')" />
        <app-linkedin-icon-link
            class="w-6 h-6"
            [href]="t('footer.social.linkedin.link') | xorCipher"
            [label]="t('footer.social.linkedin.label')" />
        <app-github-icon-link
            class="w-6 h-6"
            [href]="t('footer.social.github.link') | xorCipher"
            [label]="t('footer.social.github.label')" />
    </div>
    <app-footer-copyright class="mt-6 lg:mt-8 mb-10 lg:mb-14" />
</footer>
