<ng-container *transloco="let t; prefix: 'profile'">
    <section app-resume-profile-cover></section>

    <section
        class="bg-[#19004a]"
        id="tech-stack"
        appGsapScrollAnimate>
        <div class="p-8 container mx-auto lg:max-w-screen-lg">
            <h2 app-heading-with-dot>{{ t("tech-stack.title") }}</h2>
            <ul class="flex flex-wrap gap-3 justify-center">
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item1") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item2") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item3") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item4") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item5") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item6") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item7") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item8") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item9") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item10") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item11") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item12") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item13") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item14") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item15") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item16") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item17") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("tech-stack.item18") }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section
        class="bg-[#19004a] border-t-[1px] border-[#100031]"
        id="agile-and-project"
        appGsapScrollAnimate>
        <div class="p-8 container mx-auto lg:max-w-screen-lg">
            <h2 app-heading-with-dot>{{ t("agile-and-project.title") }}</h2>
            <ul class="flex flex-wrap gap-3 justify-center">
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("agile-and-project.item1") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("agile-and-project.item2") }}</span>
                        </div>
                    </div>
                </li>
                <li class="inline">
                    <div class="rounded-xl inline-block p-1 bg-[#2b199e]">
                        <div class="font-extrabold rounded-lg p-1 flex items-center bg-secondary">
                            <span>{{ t("agile-and-project.item3") }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section
        class="bg-[#19004a] border-t-[1px] border-[#100031]"
        id="education-and-career"
        appGsapScrollAnimate>
        <div class="p-8 container mx-auto lg:max-w-screen-lg">
            <h2 app-heading-with-dot>{{ t("education-and-career.title") }}</h2>
            <div class="text-justify">
                {{ t("education-and-career.text1") }}
                <br />
                {{ t("education-and-career.text2") }}
                <br /><br />
                {{ t("education-and-career.text3") }}
            </div>
        </div>
    </section>
</ng-container>
