@use 'tailwindcss';
@use '@angular/material' as mat;
@use 'sass:meta';

@mixin height-defaults {
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
    }
}

@mixin scrolling-defaults {
    html {
        scroll-behavior: smooth;
    }
}

@mixin heading-defaults {
    h1 {
        @apply font-bold text-4xl uppercase;
        @apply mt-12;
    }

    h2 {
        @apply font-bold text-2xl uppercase;
        @apply mt-8;
    }

    h3 {
        @apply font-bold text-xl uppercase;
        @apply mt-6;
    }

    h4 {
        @apply font-bold text-lg;
        @apply mt-3;
    }
}

@mixin link-defaults {
    a {
        @apply text-[var(--app-link-color)];
        @apply underline underline-offset-[6px] decoration-transparent;

        transition:
            color 200ms ease-in,
            text-decoration-color 200ms ease-in;

        &:hover {
            @apply text-[var(--app-link-hover-color)];
            text-decoration-color: var(--app-link-hover-color);
        }

        &.active {
            @apply text-[var(--app-link-active-color)];
            text-decoration-color: var(--app-link-active-color);
        }
    }
}

.dark-scheme {
    --app-link-color: #c6d2ff; // indigo-200
    --app-link-hover-color: #c6d2ff; // indigo-200
    --app-link-active-color: #fff;

    // TODO: Use or remove #0f1924;
    --root-bg-color: #0f002e;

    --app-header-container-color: color-mix(in oklab, #0f002e 65%, transparent);
    --app-header-container-line-color: #4a00de; // almost indigo-700

    --app-header-title-text-color: #c6d2ff; // 66baff

    --app-nav-fragments-color: #fff;
    --app-nav-fragments-hover-color: #fff;
    --app-nav-fragments-active-color: #fff;

    --app-footer-container-bg-color: transparent;
    --app-footer-container-line-color: #4a00de; // almost indigo-700

    --app-privacy-policy-bg-color: #0f002e;
    --app-legal-notice-bg-color: #0f002e;
}

@mixin color-scheme-styles {
    .dark-scheme {
        color-scheme: dark;
    }

    .light-scheme {
        color-scheme: light;
    }
}

@mixin material-theme-styles {
    :root {
        @include mat.theme(
            (
                color: mat.$spring-green-palette,
                typography: Roboto,
                density: 0,
            )
        );
    }
}

@mixin open-sans-font() {
    @font-face {
        font-style: normal;
        font-weight: 100 900;
        src: url('/fonts/open-sans-variablefont.ttf') format('truetype');
        font-family: 'Open Sans';
        font-display: swap;
    }

    @font-face {
        font-style: italic;
        font-weight: 100 900;
        src: url('/fonts/open-sans-italic-variablefont.ttf') format('truetype');
        font-family: 'Open Sans';
        font-display: swap;
    }
}

@mixin outfit-font() {
    @font-face {
        font-style: normal;
        font-weight: 100 900;
        src: url('/fonts/outfit-variablefont.ttf') format('truetype');
        font-family: 'Outfit';
        font-display: swap;
    }
}

@mixin font-defaults() {
    body {
        font-family: 'Open Sans', sans-serif;
    }
}

@mixin material-symbols() {
    @include meta.load-css('node_modules/material-symbols');
}

@layer theme {
    @include material-theme-styles();
    @include open-sans-font();
    @include outfit-font();
    @include material-symbols();
}

@layer base {
    @include height-defaults();
    @include scrolling-defaults();
    @include font-defaults();
    @include heading-defaults();
    @include link-defaults();
    @include color-scheme-styles();
}
