@use 'tailwindcss';
@use '@angular/material' as mat;
@use 'sass:meta';

@mixin height-defaults {
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
    }
}

@mixin scrolling-defaults {
    html {
        scroll-behavior: smooth;
    }
}

@mixin heading-defaults {
    h1 {
        @apply font-bold text-4xl uppercase;
        @apply mt-12;
    }

    h2 {
        @apply font-bold text-2xl uppercase;
        @apply mt-8;
    }

    h3 {
        @apply font-bold text-xl uppercase;
        @apply mt-6;
    }

    h4 {
        @apply font-bold text-lg;
        @apply mt-3;
    }
}

@mixin link-defaults {
    a {
        @apply text-[#f08cf5];
        &:hover {
            @apply text-[#f050f8];
        }
    }
}

.dark-scheme {
    // TODO: Use or remove #0f1924 #002060;
    --root-bg-color: #0f002e;

    --app-header-title-text-color: #fff;
    --app-nav-fragments-color: #fff;
    --app-nav-fragments-hover-color: #f050f8;
    --app-nav-fragments-active-color: #f050f8;

    --app-header-container-color: color-mix(in oklab, #19004a 65%, transparent);

    --app-footer-container-bg-color: transparent;
    --app-footer-container-line-color: #4a00de; // almost indigo-700;

    --app-privacy-policy-bg-color: #0f002e;
    --app-legal-notice-bg-color: #0f002e;
}

@mixin color-scheme-styles {
    .dark-scheme {
        color-scheme: dark;
    }

    .light-scheme {
        color-scheme: light;
    }
}

@mixin material-theme-styles {
    :root {
        @include mat.theme(
            (
                color: mat.$spring-green-palette,
                typography: Roboto,
                density: 0,
            )
        );
    }
}

@mixin material-symbols() {
    @include meta.load-css('node_modules/material-symbols');
}

@layer theme {
    @include material-theme-styles();
    @include material-symbols();
}

@layer base {
    @include height-defaults();
    @include scrolling-defaults();
    @include heading-defaults();
    @include link-defaults();
    @include color-scheme-styles();
}
