<section>
    <div class="p-8 container mx-auto lg:max-w-screen-lg">
        <h1 class="!mt-0">Impressum</h1>
        <h2>Diensteanbieter</h2>
        <ul class="list-outside list-disc pl-4">
            <li>{{ "3f001b04010d331403161743050c1506" | xorCipher }}</li>
            <li>{{ "3d1a020100440a125053474f" | xorCipher }}</li>
            <li>{{ "474249544a0d30831e0c015b081b1415" | xorCipher }}</li>
            <li>Telefon: {{ "584149455a1d4d554150451e475b535615595353" | xorCipher }}</li>
            <li>E-Mail: {{ "1f001b040103121a1c041c494f0813484a00040e0d03080a14" | xorCipher }}</li>
        </ul>
        <!-- <h2>Social Media und andere Onlinepräsenzen</h2>
        <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:</p>
        <ul class="list-outside list-disc pl-4">
            <li>
                <a
                    href="https://"
                    target="_blank">
                    https://
                </a>
            </li>
        </ul> -->
        <h2>Haftungs- und Schutzrechtshinweise</h2>
        <h3>Haftungsausschluss</h3>
        <p>
            Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen Kenntnisstand erstellt,
            dienen jedoch nur der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um
            gesetzlich verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung, AGB oder
            verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte vollständig oder
            teilweise zu ändern oder zu löschen, soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote
        </p>
        <h3>Links auf fremde Webseiten</h3>
        <p>
            Die Inhalte fremder Webseiten, auf die wir direkt oder indirekt verweisen, liegen außerhalb unseres
            Verantwortungsbereiches und wir machen sie uns nicht zu Eigen. Für alle Inhalte und Nachteile, die aus der
            Nutzung der in den verlinkten Webseiten aufrufbaren Informationen entstehen, übernehmen wir keine
            Verantwortung.
        </p>
        <h3>Urheberrechte und Markenrechte</h3>
        <p>
            Alle auf dieser Website dargestellten Inhalte, wie Texte, Fotografien, Grafiken, Marken und Warenzeichen
            sind durch die jeweiligen Schutzrechte (Urheberrechte, Markenrechte) geschützt. Die Verwendung,
            Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der jeweiligen Urheber bzw.
            Rechteinhaber.
        </p>
        <h3>Hinweise auf Rechtsverstöße</h3>
        <p>
            Sollten Sie innerhalb unseres Internetauftritts Rechtsverstöße bemerken, bitten wir Sie uns auf diese
            hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach Kenntnisnahme unverzüglich entfernen.
            <br /><br />
            <a
                href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
                target="_blank"
                rel="noopener noreferrer nofollow"
                >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a
            >
        </p>
    </div>
</section>
