:host {
    @reference "tailwindcss";

    @apply flex items-center gap-2;

    // Overriding default link styles for this component
    --app-link-color: var(--app-nav-fragments-color);
    --app-link-hover-color: var(--app-nav-fragments-hover-color);
    --app-link-active-color: var(--app-nav-fragments-active-color);
}
