:host {
    @reference "tailwindcss";
    @apply fixed inset-0 m-0 p-0 -z-10;

    animation-duration: 20s;
    animation-delay: 5s;
    animation-name: fadein;

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
