<a
    class="icon-link flex items-center justify-center w-full h-full"
    rel="noopener noreferrer"
    target="_blank"
    [attr.aria-label]="label()"
    [title]="label()"
    [href]="href()">
    <svg
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        shape-rendering="geometricPrecision"
        text-rendering="geometricPrecision"
        image-rendering="optimizeQuality"
        fill-rule="evenodd"
        clip-rule="evenodd"
        viewBox="72.96 -806.4 814.0799999999999 652.8000000000001">
        <path
            fill="currentColor"
            fill-rule="nonzero"
            d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-302 340-223v-55L480-522 140-740v55l340 223Z" />
    </svg>
</a>
