:host {
    @reference "tailwindcss";

    @apply flex items-center gap-2;

    // Overriding link styles for this component
    --link-color: var(--app-route-fragment-links-color);
    --link-hover-color: var(--app-route-fragment-links-hover-color);
    --link-active-color: var(--app-route-fragment-links-active-color);
}
