<app-sparkling-stars-particle-background
    class="col-start-1 row-start-1 -z-10"
    [id]="'profile'"
    [animated]="true" />
<div
    class="-z-40 max-lg:hidden ml-[25%] mr-auto my-auto col-start-1 row-start-1 -translate-x-1/2 transform rounded-full border-[150px] border-b-blue-400 border-l-violet-600 border-r-pink-500 border-t-purple-400 blur-[240px]"></div>
<div
    class="col-start-1 row-start-1 -z-40 ml-auto mr-[10%] my-auto rounded-full border-[150px] border-b-cyan-400 border-l-rose-600 border-r-indigo-500 border-t-blue-400 blur-[140px]"></div>
<div
    *transloco="let t; prefix: 'profile'"
    class="p-8 container mx-auto flex items-center justify-center col-start-1 row-start-1 overflow-y-scroll">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="row-start-2 md:row-start-1 max-lg:mx-auto">
            <div class="mt-4 text-6xl font-bold text-nowrap select-none">
                <span>{{ t("cover.greeting") }}</span>
                <span class="text-[#4a00de]"> {{ t("cover.name") }}</span>
            </div>
            <div class="flex flex-col gap-y-2 mt-4 lg:text-lg select-none">
                <div class="flex items-center gap-2">
                    <mat-icon>computer</mat-icon>
                    <span>{{ t("cover.profession") }}</span>
                </div>
                <div class="flex items-center gap-2">
                    <mat-icon>badge</mat-icon>
                    <span>{{ t("cover.work") }}</span>
                </div>
                <div class="flex items-center gap-2">
                    <mat-icon>home_pin</mat-icon>
                    <span>{{ t("cover.location") }}</span>
                </div>
                <div class="flex items-center gap-2">
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                    <span>{{ t("cover.marital-status") }}</span>
                </div>
                <div class="flex items-center gap-2">
                    <mat-icon>sprint</mat-icon>
                    <span>{{ t("cover.hobbies") }}</span>
                </div>
            </div>
        </div>
        <div class="col-start-1 md:col-start-2 flex justify-end items-center max-md:justify-center">
            <picture
                class="w-72 overflow-hidden border-2 border-[#4a00de] shadow-2xl shadow-[#4a00de]/50"
                style="border-radius: 70% 30% 48% 52% / 63% 42% 58% 37%">
                <img
                    class="select-none"
                    src="profile.jpg"
                    draggable="false"
                    [alt]="t('cover.name')" />
            </picture>
        </div>
    </div>
</div>
