:host {
    @reference "tailwindcss";
    @apply grid grid-cols-1 grid-rows-1 min-h-[calc(100vh-64px)] overflow-hidden;

    .gradient {
        background-image: linear-gradient(90deg, #51a2ff, #6243ff, #2196f3, #7f22fe, #c27aff);
        background-size: 400% auto;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shimmer 30s ease-in-out infinite alternate;
    }

    @keyframes shimmer {
        0% {
            background-position: 0% center;
        }
        100% {
            background-position: 100% center;
        }
        0% {
            background-position: 0% center;
        }
    }
}
