<section *transloco="let t; prefix: 'legalNotice'">
    <div class="p-8 container mx-auto lg:max-w-screen-lg">
        <h1 class="!mt-0">{{ t("title") }}</h1>
        <h2>{{ t("provider.title") }}</h2>
        <ul class="list-outside list-disc pl-4">
            <li>
                <app-text-obfuscation [text]="t('provider.name') | xorCipher" />
            </li>
            <li>
                <app-text-obfuscation [text]="t('provider.address.street') | xorCipher" />
            </li>
            <li>
                <app-text-obfuscation [text]="t('provider.address.city') | xorCipher" />
            </li>
            <li>
                {{ t("provider.phone.label") }}:
                <app-text-obfuscation [text]="t('provider.phone.value') | xorCipher" />
            </li>
            <li>
                {{ t("provider.email.label") }}:
                <app-text-obfuscation [text]="t('provider.email.value') | xorCipher" />
            </li>
        </ul>

        <!-- <h2>Social Media und andere Onlinepräsenzen</h2>
        <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:</p>
        <ul class="list-outside list-disc pl-4">
            <li>
                <a  class="link"
                    href="https://"
                    target="_blank">
                    https://
                </a>
            </li>
        </ul> -->

        <h2>{{ t("legal.title") }}</h2>

        <h3>{{ t("legal.disclaimer.title") }}</h3>
        <p>{{ t("legal.disclaimer.text") }}</p>

        <h3>{{ t("legal.external-links.title") }}</h3>
        <p>{{ t("legal.external-links.text") }}</p>

        <h3>{{ t("legal.copyright.title") }}</h3>
        <p>{{ t("legal.copyright.text") }}</p>

        <h3>{{ t("legal.violation-notice.title") }}</h3>
        <p>{{ t("legal.violation-notice.text") }}</p>

        <p>
            <br />
            <a
                class="link"
                href="https://datenschutz-generator.de/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                [title]="t('generator-credit.title')"
                >{{ t("generator-credit.text") }}</a
            >
        </p>
    </div>
</section>
